:root {
  --primary-color: #646cff;
  --primary-color-passive: #5e6086;
  
  --secondary-color: #5184db;
  --secondary-color-passive: #5e6d86;

  --background-color: #242424;
  --background-color-bright: #343444;

  --text-color: #f3eedd;
  --text-color-weak: rgba(243, 238, 221, 0.5);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.3em;
  line-height: 1;
  text-align: left;

  width: 50em;
}

p {
  font-size: 1em;
  text-align: left;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 5em;

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
}


input {
  box-sizing: border-box;

  min-width: 8em;
  width: 40vw;
  max-width: 30em;

  padding: 0.6em 1.2em;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
  color: var(--text-color-weak);
  background-color: var(--primary-color-passive);
  cursor: pointer;
  
  border: 3px solid var(--primary-color-passive);
  border-color: var(--primary-color-passive);
  border-radius: 8px;
  outline: none;

  transition: border-color 0.3s ease;
}
input:hover {
  outline: none;
}
input:focus {
  border-color: var(--primary-color);
  outline: none;
}

@keyframes typing {
  from { }
  to { }
}

.typing-animation {
  animation: typing 0.5s steps(30, end) forwards;
  color: var(--text-color-weak);
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--primary-color);
}

.strong-text {
  color: var(--text-color);
}

#results {
  display: flex;
  flex-direction: column;
  gap: 2em;

  min-width: 16em;
  width: 40vw;
  max-width: 60em;
}

.project {
  display: flex;
  align-content: center;

  

  color: var(--text-color);
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 1em;
}

.project-unfocus {
  flex-direction: row;
  border: 3px solid var(--secondary-color-passive);

  gap: 10em;

  justify-content: space-between;
}

.project-focus {
  flex-direction: column;
  gap: 3em;
  border: 3px solid var(--secondary-color);
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 1em;

  align-self: center;
  height: 3em;
}

.project-unfocus .tags {
  overflow: hidden;
  flex-wrap: nowrap;
}

.project-focus .tags {
  flex-wrap: wrap;
  height: fit-content;
}

.tag {
  border: 3px solid var(--primary-color);
  border-radius: 20%;
  padding: 0.5em;
}

.tag:hover {
  background-color: var(--background-color-bright);
  border: 3px solid var(--primary-color);
}

.project-folded {
  display: flex;
}

